#app_title{
    background: linear-gradient(-120deg,#fff,#fff,#fff8d4,#f5881c,#ff1818);
    width: 420px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #cfcfcf;
}

::-webkit-scrollbar-thumb:hover {
    background: #f2992b;
}

footer{
    background-color: #f5f5f5;
}